bcrypt==3.2.0
cffi==1.15.0
ConfigArgParse==1.5.3
cryptography==35.0.0
future==0.18.2
-e git+https://github.com/ktbyers/netmiko.git@6e40610a7daea87129ff490a9131cf7d3b794dd5#egg=netmiko
ntc-templates==3.0.0
paramiko==2.8.0
pycparser==2.21
PyNaCl==1.4.0
pyserial==3.5
python-dotenv==0.19.2
PyYAML==6.0
scp==0.14.1
six==1.16.0
tenacity==8.0.1
textfsm==1.1.2
